<div class="container">
  <div class="row text-center pt-3">
    <div class="col-9 text-justify text-accent d-flex align-items-center">
      <h3>Nous utilisons des cookies afin de fournir les services et fonctionnalités proposés sur notre site et afin
        d’améliorer l’expérience de nos utilisateurs. En cliquant sur "J’accepte", vous acceptez l’utilisation de ces
        cookies.</h3>
    </div>
    <div class="col-3 mb-3 d-flex flex-column">
      <button mat-stroked-button color="primary" class="flex-fill" (click)="accept()">
        J'accepte
      </button>
      <div class="my-1"></div>
      <button mat-stroked-button color="warn" class="flex-fill" (click)="dismiss()">
        Je refuse
      </button>
    </div>
  </div>
</div>
